<link href="./css/main.css" rel="stylesheet" />

<body>
    <table style="width:95%", bgcolor = "white", align="center">
        <tr>
          <th>Pick-Up</th>
          <th>Destination</th> 
          <th>Start Time</th>
          <th>Ride Date</th>
        </tr>

        {{#each context1}}
        <tr class = "drives">
          <td class="drives">{{startLoc}}</td>
          <td class="drives" >{{dest}}</td> 
          <td class="drives" >{{startTime}}</td>
          <td class="drives" >{{rideDate}}</td>
          <td>
              <a href="http://localhost:3000/claimRide/{{rideNum}}">
                  <button>Submit</button>
              </a>
          </td>
        </tr>
        {{/each}}
    </table>

    <table style="width:95%", bgcolor = "white", align="center">
        <tr>
          <th>Pick-Up</th>
          <th>Destination</th> 
          <th>Start Time</th>
          <th>Ride Date</th>
        </tr>

        {{#each context2}}
        <tr class = "drives">
          <td class="drives">{{startLoc}}</td>
          <td class="drives" >{{dest}}</td> 
          <td class="drives" >{{startTime}}</td>
          <td class="drives" >{{rideDate}}</td>
        </tr>
        {{/each}}
    </table>
</body>